
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

img{
    height: 180px;
}


$colorP:#FEB2D0;
$colorB:#7BC8F6;
$colorG:#A7FFB5;





#backgroundC{
    background-color: $colorP;
}

#backgroundY{
    background-color: $colorP;

}

nav{
   
    background-color: $colorB;
}

footer{
    background-color:$colorB;

}

#buttonC{
    background-color: $colorG;
}