
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

.cButton{
    color: $red-200;
    width: 300px;
    height: 200px;
}
